@{
    ViewBag.Title = "About";
}


<div class="site-section bg-image overlay counter" style="background-image: url('images/hero_1_no-text.jpg');" id="about-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-lg-6 mb-4">
                <iframe width="460" height="315" src="https://www.youtube.com/embed/uemObN8_dcw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="col-lg-5 ml-auto align-self-lg-center">
                <h2 class="text-black mb-4 text-uppercase section-title">Our Mission</h2>
                <p class="text-black">The reason this organazation exist is to make the world better plus its a non-profit organazation is to teach the people how to team work togather</p>
                <p class="text-black">by volunteerin and helping the others by donating or planting.. to make the world betetr</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-4 col-lg-0 col-lg-3">
                <div class="block-counter-1">
                    <span class="number"><span data-number="406">0</span></span>
                    <span class="caption text-black">Number of trees</span>
                </div>
            </div>
            <div class="col-md-6 mb-4 col-lg-0 col-lg-3">
                <div class="block-counter-1">
                    <span class="number"><span data-number="34">0</span></span>
                    <span class="caption text-black">Number of Donations</span>
                </div>
            </div>
            <div class="col-md-6 mb-4 col-lg-0 col-lg-3">
                <div class="block-counter-1">
                    <span class="number"><span data-number="68">0</span></span>
                    <span class="caption text-black">Number of Volunteers</span>
                </div>
            </div>
            <div class="col-md-6 mb-4 col-lg-0 col-lg-3">
                <div class="block-counter-1">
                    <span class="number"><span>2019</span></span>
                    <span class="caption text-black">When it established</span>
                </div>
            </div>
        </div>
    </div>
</div>     