@{
    ViewBag.Title = "Home Page";
}


        <div class="d-block d-md-flex intro-engage">
            <div class="">
                <h2>Go Clean</h2>
                <p>Our vision is to inspire a billion people across all continents to tread lightly, clean up and conserve the planet.</p>
            </div>
            <div>
                <h2>Save Lives</h2>
                <p>Our mission is to provide shelters in hospitls who are in need.</p>
            </div>
            <div>
                <h2>Plant More</h2>
                <p>Our Goal is to plant more trees to fight against climate change that is affecting out world.</p>
            </div>
        </div>
        