

@{
    ViewBag.Title = "Contact";
}
<div class="site-section" id="team-section">
    <div class="container">
        <div class="row mb-5 justify-content-center">
            <div class="col-md-7 text-center">
                <h2 class="text-black text-uppercase section-title">Our Leadership</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0" data-aos="fade-up">
                <div class="block-team-member-1 text-center rounded">
                    <figure>
                        <img src="~/images/swzan.jpeg" alt="Image" class="img-fluid rounded-circle">
                    </figure>
                    <h3 class="font-size-20 text-white">Swzan Ammar</h3>
                    <span class="d-block font-gray-5 letter-spacing-1 text-uppercase font-size-12 mb-3">Coordinator</span>
                    <p class="px-3 mb-3">Graduated from Qatar University in multimedia, working in Al Kass channel as a coordinator.</p>
                    <div class="block-social-1">
                        <a href="#" class="btn border-w-2 rounded primary-primary-outline--hover"><span class="icon-instagram"></span></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0" data-aos="fade-up" data-aos-delay="100">
                <div class="block-team-member-1 text-center rounded">
                    <figure>
                        <img src="~/images/yasser.jpeg" alt="Image" class="img-fluid rounded-circle">
                    </figure>
                    <h3 class="font-size-20 text-white">Yasser Ammar</h3>
                    <span class="d-block font-gray-5 letter-spacing-1 text-uppercase font-size-12 mb-3">Student</span>
                    <p class="px-3 mb-3">Graduation year in LKW Software Enjineering With Multimedia, joined Charity work in Go Saset.</p>
                    <div class="block-social-1">
                        <a href="#" class="btn border-w-2 rounded primary-primary-outline--hover"><span class="icon-instagram"></span></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0" data-aos="fade-up" data-aos-delay="200">
                <div class="block-team-member-1 text-center rounded">
                    <figure>
                        <img src="~/images/belo.jpeg" alt="Image" class="img-fluid rounded-circle">
                    </figure>
                    <h3 class="font-size-20 text-white">Mohammed Bello</h3>
                    <span class="d-block font-gray-5 letter-spacing-1 text-uppercase font-size-12 mb-3">Student</span>
                    <p class="px-3 mb-3">Graduation year in LKW, Cloud Computing, Love food, sport and traveling around the world.1 </p>
                    <div class="block-social-1">
                        <a href="#" class="btn border-w-2 rounded primary-primary-outline--hover"><span class="icon-instagram"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="site-section block-13 overlay bg-image" id="testimonials-section" data-aos="fade" style="background-image: url('images/hero_1_no-text.jpg');">
    <div class="container">

        <div class="text-center mb-5">
            <h2 class="text-white text-uppercase section-title">Testimonial</h2>
        </div>

        <div class="owl-carousel nonloop-block-13">
            <div>
                <div class="block-testimony-1 text-center">
                    <blockquote class="mb-4">
                        <p>
                            &ldquo;Thank you so much for the laptop computer you provided for Zeke. It has been very helpful for him and I'm sure will continue to be helpful for a long time.
                            I've included a picture of Zeke + his dad with the computer. Thank you again! Sincerely - the Rayburn Family&rdquo;
                        </p>
                    </blockquote>

                    <figure>
                        <img src="~/images/swzan.jpeg" alt="Image" class="img-fluid rounded-circle mx-auto">
                    </figure>
                    <h3 class="font-size-20 text-white">Swzan Ammar</h3>
                </div>
            </div>

            <div>
                <div class="block-testimony-1 text-center">
                    <blockquote class="mb-4">
                        <p>
                            &ldquo;THANKS FOR THE WHEELCHAIR!
                            It’s helped me so much. Now I can really get around school.
                            If I pull a lever I can pivot my chair without moving the base Not to mention that it reclines super far back. I think that this has shown me the true definition of kindness.&rdquo;
                        </p>
                    </blockquote>

                    <figure>
                        <img src="~/images/belo.jpeg" alt="Image" class="img-fluid rounded-circle mx-auto">
                    </figure>
                    <h3 class="font-size-20 text-white">Mohammad Bello</h3>
                </div>
            </div>

            <div>
                <div class="block-testimony-1 text-center">
                    <blockquote class="mb-4">
                        <p>
                            &ldquo;The practice gear will benefit many student athletes. Our coaches, the students and their families are very grateful. Please share our gratitude with the staff who scheduled time to meet with me and assisted in loading the boxes.
                            Lindsey Boutilier | Manchester High School&rdquo;
                        </p>
                    </blockquote>

                    <figure>
                        <img src="~/images/yasser.jpeg" alt="Image" class="img-fluid rounded-circle mx-auto">
                    </figure>
                    <h3 class="font-size-20 text-white">Yasser Ammar</h3>
                </div>
            </div>


        </div>

    </div>
</div>
